# set your database address, cluster seperated by ,: IP1,IP2,IP3
hosts=127.0.0.1:60061
username=root
password=root
graph=default


#SSL test
ssl_host=
ssl_username=root
ssl_password=root
ssl_graph=defaut